.calendar {
  margin-top: 1cm;
  width: 400px;
  background: #f1edd7;
  border: 1px solid rgb(104, 104, 104);
  border-radius: 5px;
  cursor: default;
}

#calendar-header {
  background: #ff980069;
  border-bottom: 1px solid rgb(104, 104, 104);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#prev-arrow,
#next-arrow {
  color: #d98753;
  cursor: pointer;
}

.calendar-body-row {
  justify-content: space-around;
  grid-gap: 10px;
  line-height: 3;
  background-color: #efe7d3;
  margin-bottom: 5px;
}

.calendar-body-columns {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  text-align: center;
  line-height: 2;
}

#today {
  background: rgb(228 166 49 / 71%);
  border-radius: 100%;
  width: 30px;
  margin: auto;
}

.calendar-prev-num-day {
  color: rgb(128, 128, 128);
}
