.calendar {
  width: 300px;
  background: white;
  border: 1px solid rgb(104, 104, 104);
  border-radius: 5px;
  cursor: default;
}

#calendar-header {
  background: #d8cce5;
  border-bottom: 1px solid rgb(104, 104, 104);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#prev-arrow,
#next-arrow {
  color: hsl(269, 40%, 60%);
  cursor: pointer;
}

.calendar-body-row {
  justify-content: space-around;
  grid-gap: 10px;
  line-height: 3;
  background-color: hsl(269, 40%, 95%);
  margin-bottom: 5px;
}

.calendar-body-columns {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 10px;
  text-align: center;
  line-height: 2;
  margin: 5px;
  margin-top: 17px;
}

.calendar-prev-month-day,
.calendar-next-month-day {
  color: rgb(128, 128, 128);
}

.available-true {
  background: hsl(269, 40%, 75%);
  border-radius: 5px;
  cursor: pointer;
}

.available-true:hover {
  background: rgb(255 167 0 / 71%);
  cursor: pointer;
}

.selected {
  background: hsl(269, 40%, 65%);
  border: 2px dotted hsl(269, 40%, 50%);
  border-radius: 100%;
  cursor: pointer;
}

.calendar-num-day {
  pointer-events: none;
}
