/* Que no aparezcan las flechas subir y bajar del input en Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Que no aparezcan las flechas subir y bajar del input en Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.qty{
    width: 50px;
}

.oldPrice {
    text-decoration:line-through;
  }
  
  .discount {
    background: rgb(140, 228, 201);
  }
  
  .price{
    font-weight: 600;
    border: 1px solid transparent; 
    border-color: rgb(140, 228, 201);
  }

  .total{
    border: 1px solid transparent; 
    border-color: rgb(140, 228, 201);
  }

.nav-link-modified {
    font-family: "Anek Malayalam", sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    color: #000000;
}
/* .nav-pills-modified */
/*  .nav-pills-modified::after */
.nav-link-modified::after {
  content: "";
  background-color: #c5b4d9;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
  visibility: visible;
}

.nav-link-modified.active {
  color: #000000;
  background-color: #c5b4d9;
}

.nav-link-modified.active::after{
  background-color: transparent;
  border: 0;
}

.nav-link-modified:hover::after {
  top: 0px;
  left: 0px;
}

.nav-link:hover {
  color: #000000;
}

.payment-btn::after {
  background-color: #4cff6a42;
  content: "";
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
  visibility: visible;
}

.payment-btn {
  font-family: "Anek Malayalam", sans-serif;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  /*   visibility: hidden; */
}

.payment-btn:hover::after {
  top: 0px;
  left: 0px;
}