#header-logo {
  height: 100px;
  background-color: rgb(165, 250, 221);
  padding: 1%;
  text-align: center;
}

#logo-tiamati {
  width: 100px;
  margin-top: 1%;
}

#header-img {
  width: 1320px;
  height: 300px;
  background-image: url(https://res.cloudinary.com/dxeieqxam/image/upload/v1654589067/illustrations/Banner_dark_y73sds.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#what-is-tiamati {
  background-color: rgb(255, 255, 175);
  padding: 2%;
}

.benefits-arrow {
  height: 100px;
  width: 30px;
}

#free-appointment {
  padding: 4%;
  padding-top: 5%;
  height: 500px;
  background-color: rgb(255, 106, 106);
}

#first-appointment-text {
  font-size: 80px;
  margin-bottom: 2%;
}

#free-appointment h3 {
  font-size: 40px;
  margin-top: 1%;
}

#bio {
  height: 500px;
  background-image: url(https://res.cloudinary.com/dxeieqxam/image/upload/v1654589077/illustrations/Portrait_yellow_purple_phkh10.jpg);
  background-position-y: 15%;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 10%;
  padding-left: 8%;
  background-position: center;
}

#hello-text {
  background-color: white;
  padding: 1%;
  width: 200px;
  height: 150px;
  text-align: center;
}

#services {
  padding: 2%;
  padding-left: 10%;
  background-color: rgb(241, 247, 210);
}

.service-card {
  width: 250px;
  margin-bottom: 2%;
  margin-right: 2%;
}

#documents {
  padding: 2%;
  padding-left: 25%;
  background-color: rgb(128, 241, 213);
}

#documents-img {
  margin-right: 2%;
  width: 200px;
}

#documents-right {
  margin-top: 3%;
}

#reviews {
  padding: 2%;
  background-color: rgb(38, 144, 177);
  color: white;
}

.carousel-item {
  width: 800px;
  margin-left: 17%;
}

.carousel-item p {
  text-align: center;
}

#faq-home {
  height: 300px;
  background-color: rgb(175, 187, 255);
  padding: 2%;
  text-align: center;
}

#faq-home h2 {
  font-size: 80px;
}
