footer {
  margin-top: 5cm;
}

.formulario {
  margin-top: 7%;
  width: 80%;
}

#navbar {
  padding-left: 1%;
  padding-right: 1%;
}

#menu-dropdown {
  margin-left: 1%;
}

#profile-dropdown {
  margin-left: 90%;
}

.div1 {
  margin-top: 7%;
}
