#navbar {
  padding-left: 1%;
  padding-right: 1%;
}

#menu-dropdown {
  margin-left: 1%;
}

#profile-dropdown {
  margin-left: 90%;
}

footer {
  margin-top: 5cm;
}

.form-general-div {
  margin-top: 7%;
  width: 60%;
  box-sizing: unset;
}

#check-data-saved-form {
  font-size: 10px;
}

.div-profile {
  margin-top: 7%;
}
