html {
  box-sizing: border-box;
}
.container {
  /* padding-bottom: 200px; cancelado porque afecta a todos los containers de la web*/
}

.formulario {
  margin-top: 7%;
  width: 80%;
}

#navbar {
  padding-left: 1%;
  padding-right: 1%;
  background-color: rgba(1, 1, 1, 0.2);
}

#menu-dropdown {
  margin-left: 1%;
}

#profile-dropdown {
  margin-left: 90%;
}

footer {
/*   position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 200px;
  padding: 1%; */
  color: white; 
  background-color: rgb(255, 217, 146);
}

#insta-logo {
  width: 50px;
}

#whatsapp-logo {
  width: 80px;
  margin-left: 80%;
  margin-bottom: 50px;
}

.form-general-div {
  margin-top: 7%;
  width: 60%;
  box-sizing: unset;
}

#check-data-saved-form {
  font-size: 10px;
}

.div-profile {
  margin-top: 7%;
}
