a {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #000000;
    text-decoration: underline;
    cursor: pointer;
}

.navbar-link-underline:hover {
    color: #000000;
    text-decoration: underline;
    cursor: pointer;
}