/* Que no aparezcan las flechas subir y bajar del input en Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Que no aparezcan las flechas subir y bajar del input en Firefox */
input[type=number] {
  -moz-appearance: textfield;
}